[Unit]
Description=PulseAudio System-Mode Daemon (Sendspin)
After=dbus.service
Requires=dbus.service
Before=bluetooth.service sendspin-client.service

[Service]
Type=notify
ExecStart=/usr/bin/pulseaudio --system --realtime --disallow-exit --no-cpu-limit --log-target=journal
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
User=pulse
Group=pulse
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=no

[Install]
WantedBy=multi-user.target
